.titulo{
    text-align: center; 
    font-family: Arial; 
    color: #3B9CD1;
    font-weight: bold; 
    font-size: 100px; 
    text-transform: uppercase;
}
.frase{
    text-align: center; 
    font-family: Arial; 
    color: black;
    font-weight: bold; 
    font-size: 30px; 
    text-transform: uppercase;
}

.imagen-boton {
    display: inline-block;
    position: fixed;
    right: 100px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    z-index: 999;
}
.imagen-boton img {
    width: 50px; /* nuevo ancho de imagen */
    height: 50px; /* nuevo alto de imagen */
    display: block;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 2%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.card-header {
    border-bottom: 1px solid #daebf1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.card-header h5 {
    margin: 0;
    color: #3B9CD1;
}

.card-body p {
    margin: 0;
}
.estrella {
    color: yellow;
  }
